.mail-box {
  background: linear-gradient(160deg, rgba(16, 10, 39, 0.95), rgba(8, 24, 50, 0.94));
  border: 1px solid rgba(113, 221, 255, 0.3);
  border-radius: 14px;
  padding: 1rem;
}

.mail-box .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  height: 80px;
  width: fit-content;
  color: white;
  font-size: 1.3rem;
  border-radius: 20px;
}
.mail-box p {
  text-align: center;
  margin: 0.5rem 1rem;
}
.box i {
  background: linear-gradient(to bottom, rgb(255, 179, 87), rgb(255, 153, 28));
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.box a{
    text-decoration: none;
} 
.box .one {
  background: rgba(14, 30, 55, 0.9);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 30px;
}
.box .two {
  background: rgba(14, 30, 55, 0.9);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 30px;
}
.box .three {
  background: rgba(14, 30, 55, 0.9);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 30px;
}
